.list-item {
  list-style: none;
  height: 29px;
  display: flex;
  justify-content: space-between;

  padding: 2px 10px;
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.list-item:hover {
  background-color: #282c34;
}

.list-item-no-hov:hover {
  cursor: default;
  background-color: #4d515a;
}

.list-item-active {
  background-color: #282c34;
}

.list-item-text {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item-button {
  background-color: #282c34;
  color: white;
}
.list-item-button:hover {
  background-color: #bcc5db;
  color: #282c34;
}
