.pulse-params {
  width: 123px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}

.pulse-io {
  display: flex;
  justify-content: center;
}

.beats {
  width: 123px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pad {
  width: 20px;
  height: 20px;
  margin: 5px 5px;
  background-color: black;
}

.selected-pad {
  border: 2px solid red;
}

.current-note {
  background-color: red;
}
