.knob {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.osc__text {
  margin: 0;
  font-size: 14px;
}

.osc__outputs,
.osc__inputs,
.osc__types {
  display: flex;
  justify-content: space-around;
}

.osc__output,
.osc__input {
  width: 20px;
  height: 20px;
  background-color: grey;
  border-radius: 10px;
}

.osc__inputs {
  justify-content: center;
}

.osc__wav {
  width: 20px;
  height: 20px;
}

#path-5,
#path-2 {
  color: white;
  fill: white;
}
