.osc__outputs,
.osc__inputs,
.osc__types {
  display: flex;
  justify-content: space-around;
}

.osc__outputs,
.osc__inputs {
  height: 50px;
}

.osc__inputs {
  justify-content: center;
}

#path-5,
#path-2 {
  color: white;
  fill: white;
}
