.filter__ins {
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.filter__out,
.filter__knobs {
  display: flex;
  justify-content: space-around;
}

.filter__text {
  margin: 0;
}

#filter-type {
  margin: auto;
}
