.io {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 5px solid cadetblue;
}

.out,
.in {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.in__text,
.out__text {
  margin: 0;
  font-size: 14px;
}

.connected {
  background-color: blue;
}
