.App {
  text-align: center;
  height: 100vh;
}

.app-main {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* min-height: calc(100vh - 30px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* height: 100vh; */
}

.App-link {
  color: #61dafb;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
  align-items: center;
  width: 30px;
}

.module {
  min-width: 120px;
  height: 250px;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.module__text {
  margin: 0;
  font-size: 14px;
}

.module__text--bold {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

#path-2,
#path-5 {
  display: none;
}
